body {
  min-width: 375px;
}

.min-full-screen {
  min-height: 100vh; /* Fallback for non-supporting browsers */
}

@supports (min-height: 100dvh) {
  .min-full-screen {
    min-height: 100dvh; /* Use min-h-screen for supported browsers */
  }
}
